<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="autoMappingBehavior" value="PARTIAL"/>
    </settings>
    <environments default="chat04">
        <environment id="chat04">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://118.31.37.83:3306/camielbackage?characterEncoding=UTF-8"/>
                <property name="username" value="peigen"/>
                <property name="password" value="peigen123456"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--单个配置到指定接口-->
        <!-- <mapper resource="resource/com/javacode2020/chat04/mapper/UserMapper.xml"></mapper>-->
        <!--单个配置到指定接口-->
        <!--  <mapper class="com.javacode2020.chat04.UserMapper"></mapper>-->
        <!--扫描全局配置 此方法最方便-->
        <package name="com.javacode2020.chat04.mapper"/>
    </mappers>
</configuration>
