<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <environments default="chat02">
        <environment id="chat02">
            <transactionManager type="org.apache.ibatis.transaction.jdbc.JdbcTransactionFactory"></transactionManager>
            <dataSource type="org.apache.ibatis.datasource.pooled.PooledDataSourceFactory">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://118.31.37.83:3306/camielbackage?characterEncoding=UTF-8"/>
                <property name="username" value="peigen"/>
                <property name="password" value="peigen123456"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/UserMapper.xml"></mapper>
    </mappers>
</configuration>